<div class="telehealth-home">
  <div class="hero">
    <div class="background"></div>

     <!-- Top-right image -->
    <div class="top-right-image">
      <img src="assets/logo-ministry-footer.png" alt="Top Right Logo" />
    </div>

    <div class="top-left-image">
  <img src="assets/Oman2040-logo-11.png" alt="Top Left Logo" />
    </div>

    <div class="hero-content">


  <div class="phone-wrapper">
  <div class="glow"></div>
  <div class="phone">
    <img src="assets/health-monitor2.png" alt="Telehealth App" />
    <!-- Clock inside the phone -->
    <div class="clock">
      <div class="mark" style="--i:0; --delay:0s;"></div>
      <div class="mark" style="--i:1; --delay:5s;"></div>
      <div class="mark" style="--i:2; --delay:10s;"></div>
      <div class="mark" style="--i:3; --delay:15s;"></div>
      <div class="mark" style="--i:4; --delay:20s;"></div>
      <div class="mark" style="--i:5; --delay:25s;"></div>
      <div class="mark" style="--i:6; --delay:30s;"></div>
      <div class="mark" style="--i:7; --delay:35s;"></div>
      <div class="mark" style="--i:8; --delay:40s;"></div>
      <div class="mark" style="--i:9; --delay:45s;"></div>
      <div class="mark" style="--i:10; --delay:50s;"></div>
      <div class="mark" style="--i:11; --delay:55s;"></div>
      <div class="hand"></div>
    </div>
  </div>
</div>

      
      <!-- Text Content -->
      <div class="content">
        <h1 class="title">National Center for Virtual Health</h1>
        <p class="subtitle">Connecting you to care — anytime, anywhere.</p>

        <div class="feature-cards">
          <div class="feature-card">Instant Consultations</div>
          <div class="feature-card">Diagnostic Imaging</div>
          <div class="feature-card">Expert Second Opinion</div>
         <div class="feature-card">24/7 Online Consultations</div>
         
      </div>
    </div>

  <img src="assets/health.png" 
     alt="Medical Tech Pattern" class="medical-overlay" />

      <img src="assets/Oman_map3.png" 
     alt="Medical Tech Pattern" class="medical-overlay2" />

     <div class="ecg">
      <svg viewBox="0 0 1200 160">
        <path class="stroke" d="M0,80 L60,80 L90,80 L110,40 L130,140 L170,80 L220,80 L300,80 L340,80 L360,20 L380,120 L420,80 L520,80 L560,80 L590,80 L610,35 L630,125 L670,80 L760,80 L820,80 L900,80 L960,80 L980,50 L1000,110 L1040,80 L1200,80" />
      </svg>
    </div>

    


    <!-- Moving text banner -->
  <div class="scrolling-text">
     المركز الوطني للصحة الافتراضية
  </div>





<div class="bottom-text">©THORAYA.2025</div>


</div>
